@model IEnumerable<Dominio.Dish>

@{
    ViewData["Title"] = "Home";
}

<div class="row align-items-stretch">
    @foreach (var item in Model)
    {
        <div class="col-sm-3 pb-3">

            <div class="card">
                <img class="card-img-top" src="~/assets/img/burger.svg" alt="Card image cap">
                <div class="card-body">
                    <a class="nav-link" asp-area="" asp-controller="Client" asp-action="Like">Me gusta</a>
                    @ViewBag.Likes <p> Likes</p>
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">$ @Html.DisplayFor(modelItem => item.Price)</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    }
</div>
