@model IEnumerable<Dominio.Dish>

@{
    ViewData["Title"] = "ListView";
}

<h1>ListView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-12">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">$ @Html.DisplayFor(modelItem => item.Price)</p>
                    <a href="#" class="btn btn-primary">@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })</a>
                </div>
            </div>
        }
    </div>
</div>