@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <h4> @ViewBag.msg</h4>
    <h6> @ViewBag.mes</h6>
    <p>Obligatorio PROGRAMACIÓN 2</p>
</div>
