@{
    ViewData["Title"] = "Integrantes";
}
<h1>@ViewData["Title"]</h1>

<section>
    <div class="row">
        <div class="col-4">
            <div class="card p-3">
                <img class="card-img-top" src="~/assets/img/24.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Balsas, Agustina</h5>
                    <p class="card-text">212839</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card p-3">
                <img class="card-img-top" src="~/assets/img/24.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Krucheff, Alejo</h5>
                    <p class="card-text">XXXXXX</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card p-3">
                <img class="card-img-top" src="~/assets/img/24.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ribas, Ignacio</h5>
                    <p class="card-text">242158</p>
                </div>
            </div>
        </div>
    </div>
</section>
