@using Dominio;
@model IEnumerable<Dominio.Pedido>

@{
    ViewData["Title"] = "Entregados";
}

<h2>Servicios entregados</h2>

<section class="container bg-white border mb-3">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center text-center p-3">
            <figure>
                <img class="empty-order" src="~/assets/img/success.svg" alt="Imagen de servicios del repartidor" style="height:96px;" />
            </figure>
            <h3 class="lead">¡Buscá los pedidos que entregaste!</h3>
        </div>
    </div>
</section>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fecha de entrega
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Distancia (KM)
                </th>
                <th>
                    Precio final
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Service is Delivery delivery)
                {
                    <tr>
                        <td>
                            @delivery.Delivered
                        </td>
                        <td>
                            @delivery.Address
                        </td>
                        <td>
                            @delivery.Distance
                        </td>
                        <td>
                            @item.FinalPrice
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
}
else
{
    <p>No se encuentran pedidos</p>
}
