@model Dominio.Pedido

@{
    ViewData["Title"] = "Confirmar";
}

<h2>Delivery</h2>

<section class="container border mb-3">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center text-center p-3">
            <figure>
                <img class="empty-order" src="~/assets/img/order.svg" alt="Imagen de la orden en proceso" style="height: 96px;" />
            </figure>
            <h2 class="lead">Confirmá los detalles del servicio de delivery</h2>
        </div>
    </div>
</section>

<section class="container">

    @foreach (var item in ViewBag.Dishes)
    {
        <div class="row mb-3 p-3 border d-flex align-content-center">
            <div class="col-1 d-flex align-content-center">
                <img src="~/assets/img/burger.svg" alt="Imagen de hamburguesa" style="height: 48px;" />
            </div>
            <div class="col-9">
                <p>
                    @item.Name
                </p>
                <p>
                    @item.Price
                </p>
            </div>
        </div>
    }
</section>

    <section class="d-flex justify-content-center mb-3 border bg-white p-3">
        <div class="row">
            <form class="row col-12" method="post">
                <div class="col-12 d-flex justify-content-center">
                    <label for="address">Dirección: </label>
                    <input class="mb-3" type="text" name="address" />
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Ver detalles del pago" />
                </div>
            </form>
        </div>
    </section>


