@model IEnumerable<Dominio.Pedido>

@{
    ViewData["Title"] = "El más caro";
}

<h2>Pedidos de mayor precio</h2>

<section class="container bg-white border">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center text-center p-3">
            <figure>
                <img class="empty-order" src="~/assets/img/4.svg" alt="Plato vacío" style="height:96px;" />
            </figure>
            <h3 class="lead">Buscá tu pedido más caro &#129297;</h3>
        </div>
    </div>
</section>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Plato
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Service.Dishes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<section class="container bg-white border">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center text-center p-3">
            <figure>
                <img class="empty-order" src="~/assets/img/20.svg" alt="Plato vacío" style="height:96px;" />
            </figure>
            <h3 class="lead">No hay resultados &#129301;</h3>
        </div>
    </div>
</section>
}