@model IEnumerable<Dominio.Pedido>

@{
    ViewData["Title"] = "VerPedidosPorPlato";
}

<h1>Ver pedidos de platos específicos</h1>

<section class="container border p-3 mb-3">
    <form class="row" method="post">
        <div class="col-6">
            <label>Nombre de plato</label>
            <input type="text" name="plato" />
        </div>
        <div class="col-12 d-flex justify-content-center">
            <input class="btn btn-outline-primary" type="submit" value="Buscar">
        </div>
    </form>
</section>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Plato
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Service.Dishes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay pedidos.</p>
}