@model IEnumerable<Dominio.Pedido>

@{
    ViewData["Title"] = "Búsqueda histórica";
}

<h1>Tus pedidos anteriores</h1>

<section class="container border mb-3">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center text-center p-3">
            <figure>
                <img class="empty-order" src="~/assets/img/history.svg" alt="ícono de página de historial" style="height: 96px;" />
            </figure>
            <h2 class="lead">¡Conocé tu historia con DeliGO! :D</h2>
        </div>
    </div>
</section>

<h2>Tus pedidos:</h2>

<section class="container border p-3 mb-3">
    <form class="row" method="post">
        <div class="col-6">
            <label>Entre:</label>
            <input type="date" name="f1" />
        </div>
        <div class="col-6">
            <label>y:</label>
            <input type="date" name="f2" />
        </div>
        <div class="col-12 d-flex justify-content-center">
            <input class="btn btn-outline-primary" type="submit" value="Buscar">
        </div>
    </form>
</section>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Plato
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Service.Dishes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <section class="container bg-white border">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center text-center p-3">
                <figure>
                    <img class="empty-order" src="~/assets/img/20.svg" alt="Plato vacío" style="height:96px;" />
                </figure>
                <h3 class="lead">No hay resultados &#129301;</h3>
            </div>
        </div>
    </section>
}
