@model IEnumerable<Dominio.Pedido>

@{
    ViewData["Title"] = "VerServicios";
}

<h1>Ver Servicios</h1>


<form method="post">
    <label>Fecha 1</label>
    <input type="date" name="f1" /><br>

    <label>Fecha 2</label>
    <input type="date" name="f2" /><br>

    <input type="submit" value="Buscar">
</form>


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Plato
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Service.Dishes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalPrice)
                </td>
            </tr>
            }
        </tbody>
    </table>
} else
            {
                <p>No hay pedidos.</p>
            }
