@model IEnumerable<Dominio.Pedido>

@{
    ViewData["Title"] = "VerServicios";
}


<h1>BuscarOperaciones</h1>

<form method="post">
    <label>Fecha1</label>
    <input type="date" name="f1" /><br>

    <label>Fecha2</label>
    <input type="date" name="f2" /><br>

    <input type="submit" value="Buscar">
</form>