<<<<<<< HEAD
﻿


<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <form class="d-flex flex-column justify-content-center" method="post">
            <h1>¡Ingresa tus datos!</h1>
            <label>Email</label>
            <input class="mb-3" type="text" name="email" />
            <label>Password</label>
            <input class="mb-3" type="password" name="password" />
            <input class="btn btn-primary" type="submit" value="Login" />
            <p>@ViewBag.msg</p>
        </form>
    </div>
</div>
=======
﻿<h4>Ingrese sus datos</h4>

<form method="post" id="formLogin">

    <label>Email</label><br>
    <input type="text" id="txtEmail" name="email" /><br>
    <span id="avisoEmail" class="text-danger"></span>


    <label>Password</label><br>
    <input type="password" id="txtPass" name="password" /><br>
    <span id="avisoPass" class="text-danger"></span>
    <br />
    <input type="submit" value="Login" />
</form>

<p>@ViewBag.msg</p>


@section Scripts {

    <script>
        document.querySelector("#formLogin").addEventListener('submit', validarDatos);

        function validarDatos(evento) {

            evento.preventDefault();

            let email = document.querySelector("#txtEmail").value;
            let pass = document.querySelector("#txtPass").value;

            let userValido = false;
            let passValido = false;

            if (email != "") { userValido = true; } else { document.querySelector("#avisoEmail").innerHTML = "El e-mail no puede ser vacío" }
            if (pass != "") { passValido = true; } else { document.querySelector("#avisoPass").innerHTML = "El password no puede ser vacío" }


            if (userValido && passValido) {

                this.submit();
            }


        }



    </script>

}
>>>>>>> main
