
<h4>Ingrese sus datos</h4>

<form method="post">

    <label>Email</label><br>
    <input type="text" name="email" /><br>

    <label>Password</label><br>
    <input type="password" name="password" /><br>
    <br>
    <input type="submit" value="Login" />
</form>

<p>@ViewBag.msg</p>