@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "¡Éxito!";
}

<h1>¡Qué delicia!</h1>

<section class="container border mb-3">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center text-center p-3">
            <figure>
                <img class="empty-order" src="~/assets/img/success.svg" alt="ícono de página de éxito" style="height: 96px;" />
            </figure>
            <h2 class="lead">¡Tu pedido ya está siendo procesado!</h2>
        </div>
    </div>
</section>

<section class="container border mb-3">
    <div class="row justify-content-center">
        <div class="col-4 offset-2 p-3">
            @Html.ActionLink("Volver al menú",
                                 "Index",
                                 "Dish",
                                 new { },
                                 new { @class = "btn btn-outline-success" }
                             )
        </div>
    </div>
</section>